body {
   overflow: hidden; 
   height: 100%;
}

.top {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

.bottom {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.topColor {
   color: white;
   font: 1.45vmin sans-serif;
   padding-right: 7vmin;
   margin-top: -0.1vmin;
   letter-spacing: 0.1vmin;
}

.bottomColor {
   color: white;
   font: 2vmin sans-serif;
   margin-top: -0.1vmin;
   letter-spacing: 0.2vmin;
}

.text {
   color: white;
   font: 1.7vmin sans-serif;
   padding-right: 2.5vmin;
   margin-top: -1vmin;
   margin-bottom: 7vmin;
}

.link-div {
   position: absolute;
   bottom: 2vmin;
}

.link {
   color: white;
   font-size: 2vmin;
   margin-left: 0.75vmin;
}

.fa-github {
   color: white;
   font-size: 2vmin;
}